:root {
  --main-bg: hsl(0, 0%, 8%);
  --cont-bg: hsl(0, 0%, 12%);
  --btn-bg: hsl(0, 0%, 20%);

  --white: hsl(0, 0%, 100%);
  --yellow: hsl(75, 94%, 57%);

  --ff: "Inter", sans-serif;

  --fs-white: 25px;
  --fs-yellow: 15px;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: var(--ff);
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--main-bg);
}
.wrapper {
  width: 400px;
  height: 670px;
  background-color: var(--cont-bg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name-and-place {
  text-align: center;
  margin-block: 15px;
  font-weight: var(--fw-700);
}
.name-and-place__white {
  color: var(--white);
  font-size: var(--fs-white);
}
.name-and-place__yellow {
  color: var(--yellow);
  font-size: var(--fs-yellow);
}
.user-image img {
  text-align: center;
  max-width: 100%;
  height: auto;
  width: 100px;
  border-radius: 100vw;
}
.user-image {
  margin: 0 0 20px 0;
}
.job {
  color: var(--white);
  font-weight: var(--fw-400);
}
.social-media {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0 0;
  width: 100%;
}
.social-media a {
  background-color: var(--btn-bg);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: var(--white);
  font-weight: var(--fw-600);
  border-radius: 10px;
}
a:active {
  background-color: var(--yellow);
  color: var(--cont-bg);
}
@media only screen and (max-width: 376px) {
  body {
    max-width: 100%;
  }
  .wrapper {
    margin: 100px 20px 100px 20px;
    height: auto;
  }
  .container {
    margin-block: 20px;
  }
}
